<div id="main">
	<%-partial('loginForm', {req:req}) %>
	
	<h1>QuickCrush</h1>
	<p>Where your dreams become quickly crushed.</p>
	
	<%console.log(getProfile("nightwolfz"))%>
	
	<div class="body">
	    <p>Session <%= sess %></p>
	    
	    <button>Test</button>
	    
	    <p>
	        <ul>
	        <% for(var i=0; i<t.favorites.length; i++) {%>
	           <li><%= t.favorites[i] %></li>
	        <% } %>
	        </ul>
	    </p>
	    <p><%= t.messages %></p>
	    <p><%= t.alerts %></p>
	</div>
</div>